# Logs
firebase-debug.log
*.log

# Dependencies
node_modules/
bower_components/

# Build files
dist/
build/
.next/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.vscode/
.idea/
.idx/

# OS-specific
.DS_Store
Thumbs.db
